@model IEnumerable<Category>

@{
    Layout = null;
}

<ul class="list-group">
    @foreach (var item in Model)
    {
        <a href="#" class="list-group-item">
            @item.Name
        </a>
    }
</ul>