@model IEnumerable<Blog> 

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <div class="row mt-3">
        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            @Html.Partial("_Slider", Model)
            @Html.Partial("_BlogList",Model) @* partial view _BlogList gidecek Model sayfanın modeli**@
        </div>
    </div>
</div>